/* main font */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Space Grotesk', sans-serif;
    scroll-snap-type: y mandatory;
  }

  section {
    top: 0;
    /* position:sticky; */
    scroll-snap-align: start end;
    scroll-snap-stop: always;
    min-block-size: 100vh;
  }

  a:hover {
    text-decoration: underline;
    font-style: italic;
    opacity: 0.7;
  }
}